<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="image-display">
      <div class="each-img">
        1
<!--         {% if img1 %} -->
        <img src="{{ img1 }}" id="previewImage1" alt="Image 1"><br>
<!--         {% endif %} -->
      </div>

      <div class="each-img">
        2
<!--         {% if img2 %} -->
          <img src="{{ img2 }}" id="previewImage2" alt="Image 2"><br>
<!--         {% endif %} -->
      </div>
    </div>

    <div class="img-cont">
      <form class="row g-3" method="POST" enctype="multipart/form-data" action="/">
        <div class="col-md-6" id="img1">
          <input type="file" id="imageInput" name="image1" accept="image/*" onchange="previewImage(event, 'previewImage1')">
        </div>
        <div class="col-md-6" id="img2">
          <input type="file" id="imageInput" name="image2" accept="image/*" onchange="previewImage(event, 'previewImage2')">
        </div>
        <div class="col-12" id="img-submit">
           <input type="submit" value="Submit">
        </div>
      </form>
    </div>

    <script>
      function previewImage(event, imageId) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
          var img = document.getElementById(imageId);
          img.src = reader.result;
          img.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>




 <!-- <form method="POST" enctype="multipart/form-data" action="/">
  <input type="file" id="imageInput" name="image" accept="image/*" onchange="previewImage(event)"><br><br>
  <input type="submit" value="Upload">
</form>

<script>
function previewImage(event) {
  var input = event.target;
  var reader = new FileReader();
  reader.onload = function() {
    var img = document.getElementById('previewImage');
    img.src = reader.result;
    img.style.display = 'block';
  };
  reader.readAsDataURL(input.files[0]);
}
</script> -->
