html, body {
  height: calc(100% - 5px); /* Reduce body height by 5 pixels */
  margin: 0;
  padding: 0;
}

body {
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding: 50px 200px 50px 200px;
}
.img-cont{
  display: flex;
  gap: 10rem;
}

.image-display{
  display: flex;
  gap: 10rem;
}

.each-img{
  height: 500px;
  width: 300px;
  border: 2px solid red;
  padding: 10px;
}
.result-score{
  justify-content: center;
  align-items: center;
  
}